.text_container {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    margin: 0 auto;
    margin-top: 250px;
    align-items: center;
    justify-content: center;
    background-color: #c4f5d6;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.text_container textarea {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}