@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.forum-title {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 15px;
    color: #2eac7c;
}

h1 {
    font-family: 'Permanent Marker', cursive;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

.p_own {
    font-family: 'Roboto', sans-serif;
}