.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.username-text {
    text-align: right;
    margin-right: 10px;
  }

.navbar-buttons a {
    margin-right: 10px;
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

.navbar-links a {
    margin-right: 10px;
    text-decoration: none;
    color: #498ff7;
    position: relative;
}

.navbar-links a::after {
    content: "|";
    margin-left: 10px;
    color: #498ff7;
}

.navbar-links a:last-child::after {
    content: "";
    margin-left: 0;
}

a.custom-button,
input[type="submit"].custom-button {
    background-color: transparent;
    padding: 1px 1px;
    border: none;
    margin: 0;
    border-radius: 0;
    text-decoration: none;
    color: #498ff7;
}

a.custom-button:hover,
input[type="submit"].custom-button:hover {
    background-color: transparent;
    color: #000;
}

a.back-link {
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #498ff7;
}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0px;
    max-width: 60%;
}

.comment-bubble {
    background-color: #e0f1fa;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.comment-sender {
    font-weight: bold;
}

.comment-box {
    position: sticky;
    bottom: 0;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.comment-box textarea {
    border-radius: 10px;
    padding: 5px;
    border: 1px solid #ccc;
}


.topic_container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    margin-top: 250px;
}

.topic-header {
    text-align: center;
    padding: 10px;
    margin-bottom: -30px;
}

.topic-content {
    text-align: justify;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

.container {
    display: flex;
    max-width: 100%;
    margin: 0;
    margin-top: 330px;
}

.side-bar {
    position: fixed;
    top: 330px;
    right: 20px;
    background-color: #ffffff00;
    border-radius: 15px;
    padding: 10px;
    word-wrap: break-word;
    z-index: 99;
    max-width: 300px;
    width: 100%;
}

.interests-list, .top20-list, .search-list {
    background-color: #e0f1fa;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 300px;
    width: 100%;
}

.text-element,.topics-element {
    flex: 1;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.new-topic-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0;
    margin-top: 250px;
    margin-left: 50px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
}


textarea[name="tag"] {
    max-width: 20%; 
}

textarea[name="header"] {
    max-width: 40%; 
}

textarea[name="content"] {
    max-width: 80%;
}


.scrollable-list {
    background-color: #e0f1fa;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    max-width: 300px;
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
}