<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topbar_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='admin_styles.css') }}">
  </head>

  <body>
    <div class="navbar">
      <div>
        <p class="username-text">Olet kirjautunut nimellä {{ session.username }}</p>
      </div>
      <div class="navbar-links">
        <a href="/topics">Aiheet</a>
        <a href="/profile">Oma profiili</a>
        {% if admin %}<a href="/admin">Admin työkalut</a>{% endif %}
        <a href="/logout">Kirjaudu ulos</a>     
      </div>
      <p class ="p_own">Aiheuden hallinta: Voit estää/vapauttaa aiheen näkyvyyden klikkaamalla aihetta.</p>
      <div class="container">
        <div>
          <H3>Käyttäjät:</H3>
          <form action="/admin" method="GET" style="display: inline-block; margin-top: 20px;">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="text" name="query" value="{{ query }}">
            <input type="submit" value="Hae">
          </form>
          <div class="container_users">  
            <div>
              {% for user in users %}      
                  <br>
                  <br>
                  <a>&nbsp;&nbsp;Estä käyttäjä:</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=2">2 min</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=3">3 päivää</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=7">7 päivää</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=30">30 päivää</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=99">Pysyvästi</a>
                  &nbsp;&nbsp;
                  <a href="/block_user?block_user={{ user.username }}&penalty_time=0">Poista esto</a>
            
                <p>&nbsp;&nbsp;Käyttäjänimi: {{ user.username }}</p>
                <p>&nbsp;&nbsp;Etunimi: {{ user.first_name }}</p>
                <p>&nbsp;&nbsp;Sukunimi: {{ user.last_name }}</p>
                <p>&nbsp;&nbsp;Sähköposti: {{ user.email }}</p>
                <p>&nbsp;&nbsp;Käytössä: {{ user.visible }}</p>
                {% if master %}
                  {% if user.role != "Master" %}
                    &nbsp;&nbsp;
                    <a href="/privileges?user={{ user.username }}&new_admin=1">Anna admin oikeudet</a>
                    &nbsp;&nbsp;
                    <a href="/privileges?user={{ user.username }}&remove_admin=1">Poista admin oikeudet</a>
                  {% endif %}
                {% endif %}
                {% for blocked_user in blocked_users %}
                    {% if blocked_user.username == user.username %}
                        <p>Käyttäjän käyttöoikeuksia on rajoitettu vielä {{ blocked_user.penalty_time }}.</p>
                    {% endif %}
                {% endfor %}
                <hr>
              {% endfor %}     
            </div>
          </div>
          
        </div>


        <div class="inner_container">
          <div>
            <H3>Aiheet:</H3>
            <form action="/admin" method="GET" style="display: inline-block; margin-top: 0px;">
              <input type="text" name="tag_query" value="{{ tag_query }}">
              <input type="submit" value="Hae">
            </form>
            <div class="scrollable-list"> 
                <ul>
                    {% for tag in tags %}
                        <li>
                            <a href="/block_tag/{{ tag }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
          <div>
            <H3>Estetyt aiheet:</H3>
            <form action="/admin" method="GET" style="display: inline-block; margin-top: 0px;">
              <input type="text" name="blocked_tag_query" value="{{ blocked_tag_query }}">
              <input type="submit" value="Hae">
            </form>
            <div class="scrollable-list">
                <ul>
                    {% for tag in blocked_tags %}
                        <li>
                            <a href="/release_tag/{{ tag }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="container_users">  
        <div>
          {% for user in users %}      
              <br>
              <br>
              <a>&nbsp;&nbsp;Estä käyttäjä:</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=2">2 min</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=3">3 päivää</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=7">7 päivää</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=30">30 päivää</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=99">Pysyvästi</a>
              &nbsp;&nbsp;
              <a href="/block_user?block_user={{ user.username }}&penalty_time=0">Poista esto</a>
        
            <p>&nbsp;&nbsp;Käyttäjänimi: {{ user.username }}</p>
            <p>&nbsp;&nbsp;Etunimi: {{ user.first_name }}</p>
            <p>&nbsp;&nbsp;Sukunimi: {{ user.last_name }}</p>
            <p>&nbsp;&nbsp;Sähköposti: {{ user.email }}</p>
            <p>&nbsp;&nbsp;Käytössä: {{ user.visible }}</p>
            {% if master %}
              {% if user.role != "Master" %}
                &nbsp;&nbsp;
                <a href="/privileges?user={{ user.username }}&new_admin=1">Anna admin oikeudet</a>
                &nbsp;&nbsp;
                <a href="/privileges?user={{ user.username }}&remove_admin=1">Poista admin oikeudet</a>
              {% endif %}
            {% endif %}
            {% for blocked_user in blocked_users %}
                {% if blocked_user.username == user.username %}
                    <p>Käyttäjän käyttöoikeuksia on rajoitettu vielä {{ blocked_user.penalty_time }}.</p>
                {% endif %}
            {% endfor %}
            <hr>
          {% endfor %}     
        </div>
      </div>
  </body>
</html>