<div style="text-align: center;">
    <h1>FORUM</h1>
    <p>Puhe on vapaa</p>
</div>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/topics">Palaa</a>
<span style="margin: 0 8px;">&nbsp;</span>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
<form action="/register">
    <input type="submit" value="Uusi käyttäjä">
</form>
{% endif %}

{% if not_user %}
<p>Käyttäjä tunnusta ei löydy.</p>
{% endif %}
{% if not_password %}
<p>Väärä salasana!</p>
{% endif %}
