<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index_styles.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_styles.css') }}">
    </head>
    <body>
        <div class="forum-title">
            <h1>FORUM</h1>
            <p>Puhe on vapaa</p>
        </div>
        {% if session.username %}
        <p>Olet kirjautunut nimellä {{ session.username }}</p>
        <a href="/topics">Palaa</a>
        <span style="margin: 0 8px;">&nbsp;</span>
        <a href="/logout">Kirjaudu ulos</a>
        {% else %}
        <div class="login_container">
            <form action="/login" method="POST">
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
                <p class = "p_own">Tunnus:<br>
                <input type="text" name="username"></p>
                <p class = "p_own">Salasana:<br>
                <input type="password" name="password" ></p>
                <input type="submit" value="Kirjaudu">
            </form>
            <br>
        </div>
        <div class="new_user">
            <form action="/register">
                <input type="submit" value="Uusi käyttäjä">
            </form>  
        </div>
        {% endif %}
    <div class= "notice_container">
        {% if not_user %}
        <p>Käyttäjä tunnusta ei löydy</p>
        {% endif %}
        {% if not_password %}
        <p>Väärä salasana!</p>
        {% endif %}
        {% if deleted_user %}
        <p>Postettu käyttäjätunnus</p>
        {% endif %}
    </div>
    </body>
</html>