<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='topbar_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='new_topic_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font_styles.css') }}">
  </head>

  <body>
    <div class="navbar">
        <div>
          <p class="username-text">Olet kirjautunut nimellä {{ session.username }}</p>
        </div>
        <div class="navbar-links">
          <a href="/topics">Aiheet</a>
          <a href="/profile">Oma profiili</a>
          <a href="/logout">Kirjaudu ulos</a>
        </div>
        <div class="forum-title">
            <h1>FORUM</h1>
            <p>Puhe on vapaa</p>
        </div>  
    </div>
    <div class="new-topic-container">
        <form action="/publish" method="POST">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <div>
            Aihealue: <br>
            <textarea name="tag" rows="1" cols="15" maxlength="20"class="input-field"></textarea>
        </div>
        <br>
        <div>
            Otsikko: <br>
            <textarea name="header" rows="1" cols="40"maxlength="40"class="input-field"></textarea>
        </div>
        <br>
        <div>
            Viesti: <br>
            <textarea name="content" rows="10" cols="80"maxlength="5000"class="input-field"></textarea>
        </div>
        <br>
        <div>
            <input type="submit" value="Julkaise">
        </div>
        <br>
        <div>
            <a href="/topics">Palaa</a>
        </div>
        </form>
    </div>
  </body>
</html>