<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  
  </head>

  <body>
    <div class="navbar">
      <div>
        <p class="username-text">Olet kirjautunut nimellä {{ session.username }}</p>
      </div>
      <div class="navbar-links">
        <a href="/topics">Aiheet</a>
        <a href="/profile">Oma profiili</a>
        {% if admin %}<a href="/admin">Admin työkalut</a>{% endif %}
        <a href="/logout">Kirjaudu ulos</a>
      </div>
      <div style="text-align: center;">
          <h1>FORUM</h1>
          <p>Puhe on vapaa</p>
      </div>
      <div>
        <a href="/topics?show_interests={{ toggle_show_interests }}">{{ show_interests_text }}</a>
      </div>
      <div class="navbar-buttons">
          <form action="/topics" method="GET" style="display: inline-block; margin-top: 20px;">
              <input type="text" name="query" value="{{ query }}">
              <input type="submit" value="Hae">
          </form>
      </div>
      <div>
        <p>
          <a href="/new_topic" style="margin-top: 20px; font-weight: bold;">Aloita uusi keskustelu</a>
        </p>
      </div>   
    </div>

    <div class="container">
      <div class ="topics-element">
        {% if query == "" %}
          {% if latest_topic and latest_topic.visible%}
              <h4><a href="/follow_tag/{{ latest_topic.tag }}">{{ latest_topic.tag }}</a></h4>
              <h1>{{ latest_topic.header }}</h1>
              <p>{{ latest_topic.sender }}</p>
              <p>Kommentit:{{ latest_topic.message_count }}</p>
              <a href="/view_topic/{{ latest_topic.id }}" class="btn btn-primary">Lue</a>
              <hr>
          {% endif %}
        {% endif %}
        {% for topic in topics %}
          {% if topic.id != latest_topic.id and topic.visible%}
            <h4><a href="/follow_tag/{{ topic.tag }}?from=topics">{{ topic.tag }}</a></h4>
            <h1>{{ topic.header }}</h1>
            <p>{{ topic.sender }}</p>
            <p>Kommentit:{{ topic.message_count }}</p>
            <a href="/view_topic/{{ topic.id }}" class="btn btn-primary">Lue</a>
            <hr>
          {% endif %}
        {% endfor %}
      </div>
      
      <div class="side-bar">
          <div class="interests-list">
              <h2>Seuratut aiheet:</h2>
              <ul>
              {% for tag in my_interest %}
                  <li>
                      <a href="/remove_tag/{{ tag }}">{{ tag }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div>
          <div class="top20-list">
              <h2>Aiheet top 5:</h2>
              <ul>
                  {% for tag in top_subjects %}
                      <li>
                          <a href="/follow_tag/{{ tag }}?from=interests">{{ tag }}</a>
                      </li>
                  {% endfor %}
              </ul>
          </div>
          <div class="search-list">
              <form action="/topics" method="GET" style="display: inline-block; margin-top: 20px;">
                  <input type="text" name="tag_query" value="{{ tag_query }}">
                  <input type="submit" value="Hae">
              </form>
              <ul>
                  {% for tag in tags %}
                      <li>
                          <a href="/follow_tag/{{ tag }}?from=interests">{{ tag }}</a>
                      </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
    </div>
  </body>
</html>