<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="navbar">
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <hr>
    <div style="text-align: center;">
        <h1>FORUM</h1>
        <p>Puhe on vapaa</p>
    </div>
    <div class="navbar-buttons">
        <form action="/topics" method="GET" style="display: inline-block;">
            Hakusana: <input type="text" name="query" value="{{ query }}">
            <input type="submit" value="Hae">
        </form>
    </div>
    <div>
      <p>
        <a href="/new_topic" style="margin-top: 20px; font-weight: bold;">Aloita uusi keskustelu</a>
      </p>
    </div>
  </div>
{% if latest_topic and latest_topic.visible%}
    <h4>{{ latest_topic.tag }}</h4>
    <h1>{{ latest_topic.header }}</h1>
    <p>{{ latest_topic.sender }}</p>
    <p>Kommentit:{{ latest_topic.message_count }}</p>
    <a href="/view_topic/{{ latest_topic.id }}" class="btn btn-primary">Lue</a>
    <hr>
{% endif %}

{% for topic in topics %}
  {% if topic.id != latest_topic.id and topic.visible%}
    <h4>{{ topic.tag }}</h4>
    <h1>{{ topic.header }}</h1>
    <p>{{ topic.sender }}</p>
    <p>Kommentit:{{ topic.message_count }}</p>
    <a href="/view_topic/{{ topic.id }}" class="btn btn-primary">Lue</a>
    <hr>
  {% endif %}
{% endfor %}
</body>
</html>