<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="navbar">
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <a href="/logout">Kirjaudu ulos</a>
    <hr>
    <div style="text-align: center;">
        <h1>FORUM</h1>
        <p>Puhe on vapaa</p>
    </div>
    <div>
      <a href="/topics?show_interests={{ toggle_show_interests }}">{{ show_interests_text }}</a>
    </div>
    <div class="navbar-buttons">
        <form action="/topics" method="GET" style="display: inline-block; margin-top: 20px;">
            Hakusana: <input type="text" name="query" value="{{ query }}">
            <input type="submit" value="Hae">
        </form>
    </div>
    <div>
      <p>
        <a href="/new_topic" style="margin-top: 20px; font-weight: bold;">Aloita uusi keskustelu</a>
      </p>
    </div>
    <div class="navbar-right">
      <h3>Omat mielenkiinnon kohteet:</h3>
      <ul>
          {% for tag in my_interest %}
              <li>{{ tag }}</li>
          {% endfor %}
      </ul>
    </div>
  </div>
{% if latest_topic and latest_topic.visible%}
    <h4><a href="/follow_tag/{{ latest_topic.tag }}">{{ latest_topic.tag }}</a></h4>
    <h1>{{ latest_topic.header }}</h1>
    <p>{{ latest_topic.sender }}</p>
    <p>Kommentit:{{ latest_topic.message_count }}</p>
    <a href="/view_topic/{{ latest_topic.id }}" class="btn btn-primary">Lue</a>
    <hr>
{% endif %}

{% for topic in topics %}
  {% if topic.id != latest_topic.id and topic.visible%}
    <h4><a href="/follow_tag/{{ topic.tag }}">{{ topic.tag }}</a></h4>
    <h1>{{ topic.header }}</h1>
    <p>{{ topic.sender }}</p>
    <p>Kommentit:{{ topic.message_count }}</p>
    <a href="/view_topic/{{ topic.id }}" class="btn btn-primary">Lue</a>
    <hr>
  {% endif %}
{% endfor %}
</body>
</html>